article {
    max-width: 1350px;
    margin: auto;
}

section {
    max-width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

img {
    margin: 1em auto;
}

@media (max-width: 320px) {
    img {
        width: 85vw;
    }
}
